{% extends "base.html" %}
{% load static %}
{% load bootstrap %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
{% endblock %}


{% block content %}
<div class="overlay"></div>
  <div class="container">
  <!-- Header -->
    <div class="row">
      <div class="col">
        <h2 class="mt-5 mb-4">Custom Order Form</h2>
      </div>
    </div>

    <!-- Form Column -->    
      <div class="row">
        <div class="col-12">
          <form method="POST" class="card-body">
            <fieldset class="rounded px-3 mb-5">
              {% csrf_token %}
              {{ form|bootstrap }}
                 <input type="file" name="myfile">
                <button type="submit">Upload</button> 
              <div class="form-actions">
                <button class="btn button-main rounded-0" type="submit">Send</button>
              </div>
            </fieldset>
          </form>
            {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
      <!-- end of form -->
          </div>
 
        </div>
      </div>
        </div>
    </div>

{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}