{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Banner Content Area -->
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 text-black">
                    Look Stylish With Our New Range of Backpacks!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="hero-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

<!-- New Products -->
<div class="container h-100">
    <!-- Products Row -->
        <div class="row h-100">
        <div class="col-12 index-products-title"><h2>New In Tech & Co</h2></div>
            <!--Card 1 -->
            <div class="col-3 col-md-3 my-auto">
                <img class="card-image-home mb-4" src="/media/techncobag.png" alt="tech & co bag">
                <div>
                    <h5>Tech & Co Backpack</h5>
                    <p class="lead mt-4 text-left font-weight-bold">$50.00</p>
                    <a href="{% url 'products' %}" class="btn index-page-shop-btn">Shop Now</a>
                </div>
            </div>
            <!--Card 2 -->
            <div class="col-3 col-md-3 my-auto">
                <img class="card-image-home mb-4" src="/media/techncomousepad.png" alt="tech & co mousepad">
                <div>
                    <h5>Tech & Co Mousepad</h5>
                    <p class="lead mt-4 text-left font-weight-bold">$20.00</p>
                    <a href="{% url 'products' %}" class="btn index-page-shop-btn">Shop Now</a>
                </div>
            </div>
            <!--Card 3 -->
            <div class="col-3 col-md-3 my-auto">
                <img class="card-image-home mb-4" src="/media/techncomug.png" alt="tech & co Mug">
                <div>
                    <h5>Tech & Co Mug</h5>
                    <p class="lead mt-4 text-left font-weight-bold">$25.00</p>
                    <a href="{% url 'products' %}" class="btn index-page-shop-btn">Shop Now</a>
                </div>
            </div>
            <!--Card 4 -->
            <div class="col-3 col-md-3 my-auto">
                <img class="card-image-home mb-4" src="/media/technconotebook.png" alt="tech & co notebook">
                <div>
                    <h5>Tech & Co Notebook</h5>
                    <p class="lead mt-4 text-left font-weight-bold">$20.00</p>
                    <a href="{% url 'products' %}" class="btn index-page-shop-btn">Shop Now</a>
                </div>
            </div>    
        </div>
    <!-- End of Row -->
</div>
    {% endblock %}

    {% block postloadjs %}
        {{ block.super }}
    {% endblock %}