/*-----------------------------

[Table of Contents]

1. Body 
2. Cover Overlay
3. Banner
4. Site Buttons
5. Navbar Dropdown Menu Styling
6. Card Styling Index Page
7. Bottom To Top Arrow On Product Page
8. Bootstrap Toasts
9. Allauth Form Formatting
10. Checkout Page - Your Bag Styling
11. Stripe
12. Footer
13. Media Queries

-----------------------------/

/* Body */
html {
    height: 100%;
}

body {
    background: url('/media/techncohomebanner.jpg') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Roboto';
    opacity: 1;
    transition: 1s opacity;
    overflow-x:hidden
}

body.fade-out {
    opacity: 0.5;
    transition: 0.5s;
}

.font-awesome-icons {
    color: rgb(98, 109, 109);
}

/* Cover Overlay */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Banner */
.promo-banner {
    padding: 0.5em 0 0.5em 0;
    font-size: large;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: #b12466;
}

.hero-header {
    text-transform: uppercase;
}

.hero-button {
    background: rgb(159, 194, 182);
    color: white;
    min-width: 260px;
}

.hero-button:hover,
.hero-button:active,
.hero-button:focus {
    background: rgb(93, 138, 141);
    color: rgb(236, 236, 236);
}

/* Site Buttons */
.button-main {
    background: rgb(135, 187, 189);
    color: white;
}

.button-main:hover,
.button-main:active,
.button-main:focus {
    background: rgb(195, 216, 207);
    color: white !important;
}

.button-other {
    background: rgb(0, 0, 0);
    color: rgb(250, 246, 246) !important; 
    border: 1px solid rgb(128, 91, 91);
}

.button-other:hover,
.button-other:active,
.button-other:focus {
    background: rgb(59, 59, 59);
    color: white !important;
}

/* Navbar Dropdown Menu Styling */
.dropdown-menu {
    background: rgb(248, 246, 246);
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    background: rgba(90, 170, 157, 0.514);
    color: white !important;    
}

/* Card Styling Index Page */
.index-products-title {
    margin-top: 8em;
    text-align: center;
} 

.card-index {
    align-items: center;
}

img.card-image-home {
    float: center;
    width: 300px;
    height: 300px;
    padding: 0 1em 0 0;
    object-fit: cover;
}

.index-page-shop-btn {
    border-radius: 0;
    background: rgb(159, 194, 182);
    color: white;
}

.index-page-shop-btn:hover,
.index-page-shop-btn:active,
.index-page-shop-btn:focus {
    background: rgb(93, 138, 141);
    color: rgb(236, 236, 236);
}

/* Bottom To Top Arrow On Product Page */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aeb7be;
}

/* Bootstrap Toasts */
.popup-message {
    position: fixed;
    top: 92px;
    right: 15px;
    z-index: 99999999999;
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #677886; 
}

.allauth-form-inner-content input {
    border-color: rgb(143, 143, 143);
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #a3abb3;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	display: inline-block;
    font-weight: bold;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(135, 187, 189);
    border: 1px solid rgb(135, 187, 189);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: rgb(195, 216, 207);
    border-color: rgb(195, 216, 207);
}

.allauth-form-inner-content a {
	color: #3a7983; 
}

/* Profile */

.order-history {
    max-height: 416px; 
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}


/* Checkout Page - Your Bag Styling  */
.checkout-prod-name {
    color: black;
    font-weight: bolder;
}

/* Stripe */
.StripeElement {
box-sizing: border-box;

height: 40px;

padding: 10px 12px;

border: 1px solid transparent;
border-radius: 4px;
background-color: white;

box-shadow: 0 1px 3px 0 #e6ebf1;
-webkit-transition: box-shadow 150ms ease;
transition: box-shadow 150ms ease;
}

.StripeElement--focus {
box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
border-color: #fa755a;
}

.StripeElement--webkit-autofill {
background-color: #fefde5 !important;}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: rgb(179, 179, 179);
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Footer */
footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: 14em;
}

.footer-container {
    background-color: #ffdb1181;
    padding: 2em 1em 2em 1em;
}

@media (max-width: 74.9375em) {
    .footer-widget .widget-title {
      font-size: 15px; } }
  
.footer-widget .footer-menu {
    margin-bottom: 2em; 
    padding-left: 0.5em; 
    padding-right: 1em;
}

.footer-bottom {
    background-color: #ffdb1181;
    padding: 1em 1em 1em 1em;   
}


/* Media Queries */

    /* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }  

    /* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

    /* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4 {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}